
@model IEnumerable<InvoiceManagement.Models.Customer>
<a asp-action="CreatePurchase" class="btn btn-info rounded-0 my-2">Create Purchase</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Invoice No
            </th>
            <th>
                Customer Name
            </th>
            <th>
                Address
            </th>
            <th>
                Phone
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var p in Model)
            {
        <tr>
            <td>@p.InvoiceNo</td>
            <td>@p.CustomerName</td>
            <td>@p.Address</td>
            <td>@p.Phone</td>
            <td>
                <a asp-action="Report" asp-route-id="@p.CustomerId" class="btn btn-success">Print</a>
                <a asp-action="DeletePurchase" asp-route-id="@p.CustomerId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
            }
    </tbody>
</table>
